anyio==1.4.0
asgiref==3.4.1
async-generator==1.10
backports.entry-points-selectable==1.1.0
beautifulsoup4==4.9.3
certifi==2021.5.30
charset-normalizer==2.0.3
comtypes==1.1.10
coreapi==2.3.3
coreschema==0.0.4
cycler==0.10.0
defusedxml==0.7.1
distlib==0.3.2
dj-database-url==0.5.0
Django==3.2.5
django-allauth==0.40.0
django-cors-headers==3.8.0
django-crispy-forms==1.12.0
django-heroku==0.3.1
django-rest-auth==0.9.5
django-rest-swagger==2.2.0
django-sitemaps==1.1.1
djangorestframework==3.12.4
drf-yasg==1.20.0
filelock==3.0.12
gunicorn==20.1.0
h11==0.12.0
heroku==0.1.4
httpcore==0.13.6
httpx==0.18.2
idna==3.2
inflection==0.5.1
itypes==1.2.0
Jinja2==3.0.1
kiwisolver==1.3.2
lxml==4.6.3
MarkupSafe==2.0.1
matplotlib==3.4.3
mutagen==1.45.1
numpy==1.21.2
oauthlib==3.1.1
openapi-codec==1.3.2
opencv-python==4.5.3.56
packaging==21.0
Pillow==8.3.1
platformdirs==2.0.2
psycopg2==2.9.1
pygame==2.0.1
pyler==0.2.0
PyMySQL==1.0.2
pyparsing==2.4.7
PyPDF2==1.26.0
python-dateutil==1.5
python3-openid==3.2.0
pyttsx3==2.90
pytz==2021.1
PyYAML==5.4.1
requests==2.26.0
requests-oauthlib==1.3.0
rfc3986==1.5.0
ruamel.yaml==0.17.16
ruamel.yaml.clib==0.2.6
simplejson==3.17.5
sitemaps==0.1.0
six==1.16.0
sniffio==1.2.0
soupsieve==2.2.1
sqlparse==0.4.1
uritemplate==3.0.1
urllib3==1.26.6
virtualenv==20.6.0
whitenoise==5.3.0
